body{
    font-family: 'Mulish', sans-serif;
}
section{
    background: #ccc;
}
.in_display{
    display: inline-flex;
}
.vanish{
    border: none;
    background-color: #F2F3FF;
}
.subscribe_button{
    background: #157FBC;
    border-radius: 0px 5px 5px 10px;
}
a{
    text-decoration: none!important;
}
a:link{
    color: #333333!important
}
a:visited{
    color: #333333!important
}
a:hover{
    color: #00ffc5!important;
    font-weight: bold;
}
a:active{
    color: #00ffc5!important;
    text-decoration: underline;
}


.footer_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "first_block second_block third_block email_form"
}
.first_block{
    grid-area: first_block;
}
.second_block{
    grid-area: second_block;
}
.third_block{
    grid-area: third_block;
}
.email_form{
    grid-area: email_form;
}

@media (max-width: 992px){
    .footer_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "first_block"
                         "second_block"
                         "third_block"
                         "email_form"
}
    .first_block{
    grid-area: first_block;
        text-align: center;
}
.second_block{
    grid-area: second_block;
    text-align: center;
}
.third_block{
    grid-area: third_block;
    text-align: center;
}
.email_form{
    grid-area: email_form;
    text-align: center;
}
}