.navbar img {
    width: 40%;
}
.navbar {
    background-color: #157fbc;
}

.nav_button {
    border: 1px solid #00ffc5;
}

.nav_button:hover {
    color: #157fbc;
    background-color: #00ffc5;
}

.nav_items_hover:hover {
    text-transform: uppercase;

}

#navbarResponsive a:link {
    color: #fff;
}

#navbarResponsive a:visited {
    color: #fff;
}

#navbarResponsive a:hover {
    color: #00ffc5 !important;
    font-weight: bold;
}

#navbarResponsive a:active {
    color: #00ffc5 !important;
    text-decoration: underline;

}
@media all and (min-width: 0px){
    .navbar-brand{
       height: 100%;
       width: 50%;
    }
}

@media all and (min-width: 768px){
    .navbar-brand{
       height: 100%;
       width: 10%;
    }
    .navbar img {
        width: 100%;
    }
}
