nav{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.nav_button{
    border: 1px solid #00ffc5;
}
.nav_button:hover{
    color: #157fbc;
    background-color: #00ffc5;
}
.nav_items_hover:hover{
    text-transform: uppercase;
    
}
#navbarResponsive a:link{
    color: #333333!important
}
#navbarResponsive a:visited{
    color: #333333!important
}
#navbarResponsive a:hover{
    color: #00ffc5!important;
    font-weight: bold;
}
#navbarResponsive a:active{
    color: #00ffc5!important;
    text-decoration: underline;
}