*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.first{
    margin-top: 80px;
}
h4{
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline #157fbc;
    color: black;
}
h3{
    color: #157fbc;
}
.container-fluid{
    margin-bottom: 30px;
}
.card{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    margin-top: 15px;
}
.card-body i{
    color: #ccc;
    padding: 0 12px;
    text-align: center;
}
.card-body i:hover{
    color: #157fbc;
}
.botton, .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botton .btn{
    background-color: #157fbc;
    color:#fff !important;
    margin-top: 20px;
    box-shadow: 0px 0px 0.569767px rgba(43, 39, 80, 0.04), 0px 2.27907px 4.55814px rgba(43, 39, 80, 0.04), 0px 9.11628px 13.6744px rgba(43, 39, 80, 0.04), 0px 13.6744px 18.2326px rgba(43, 39, 80, 0.04);
}
.botton .btn:hover{
color: #00ffc5 !important;
}
form{
    text-align: center;
}
.comment{
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
@media only screen and (min-width: 600px){
    h3{
        text-align: center;
    }
    .col-md-8{
        margin-top: 30px;
    }
.card-body i{
    padding: 20px;
    font-size: 1.3em;
    margin: -30px 0;
    }
.botton .btn{
    margin-bottom: 35px;
}
}
@media only screen and (min-width: 768px){
    .container-fluid{
        margin-top: 90px;
    }
    h4, h3{
       font-size: 1.3em; 
    }
    .card-body i{
        padding: 0 7px;
        font-size: .9em;
    }
    .botton .btn{
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 1024px){
    .first{
        margin-top: 75px;
    }
    h4{
        margin-bottom: 20px;
        color: black;
    }
    h3{
        font-size: 1.5em;
        text-align: left;
    }
    .container-fluid{
        margin-top: 150px;
    }
    .card-body i{
        padding: 15px;
        font-size: 1em;
        }
        .botton .btn{
        margin-top: 40px;
        }
}
@media only screen and (max-width: 320px){
    h3{
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }
    .botton .btn{
        margin-bottom: 20px;
    }
}