




/*  GENERAL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: Mulish;
    overflow-x: hidden;
    background-color: #f3f3f3;
}
/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 6px;                           /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #01707100;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(204 204 204);    /* color of the scroll thumb */
    border-radius:5%;                      /* roundness of the scroll thumb */
    margin-right:1px;
}
p {
    font-weight: 300;
}
.btn {
    border-radius: 0rem;
    font-size: x-small;
    padding: .6rem 1rem;
}
.btn-primary {
    background-color: #157fbc;
    border-color: #157fbc;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #157fbc;
    border-color: #157fbc;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #157fbc;
    border-color: #157fbc;
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 12%);
    color: #fff;
}
.splash a {
    padding: .6rem 2rem;
    letter-spacing: 1px;
}
.color1 {
    color: #00FFC5;
}
.color2 {
    color: #157fbc;
}
.color3 {
    color: #f3f3f3;
}
.color4 {
    color: #000;
}
.color5 {
    color: #ccc;
}
.bg-color1 {
    background-color: #00FFC5;
}
.bg-color2 {
    background-color: #157fbc;
}
.bg-color3 {
    background-color: #fff;
}
.bg-color4 {
    background-color: #0000000f;
}
.bg-color5 {
    background-color: #ccc;
}


/*  MENU FIX - OVERRIDE */
#navbarResponsive a:hover {
    font-weight: initial;
}
.navbar-section .nav_button {
    border: 1px solid #ffffff;
    color: #fff;
    /*border-left: 0px;*/
}
.navbar-section .nav-link {
    font-size: smaller;
}
.navbar-section .nav_button:hover {
    color: #ffffff;
    background-color: #005c90;
}
.navbar-section .form-control {
    color: #707070;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    border-right: 0px;
    height: 31px;
}
.navbar-section .btn {
    border-radius: 0rem;
    font-size: x-small;
    padding: .375rem .75rem;
    height: 31px;
}
.navbar-section .navbar img {
    width: 40%;
}

/* HERO SECTION STYLE */
.hero-section {
    background-image: url(../img/reward-hero2.jpg);
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section .splash {
    background-color: #22222280;
    background-repeat: repeat-x;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: inherit;
    margin-top:56px
}
/* On screens that are 990px wide or less*/
@media screen and (max-width: 990px) {
    .hero-section .splash {
        /*margin-top:56px;*/
    }
}
.hero-section .wallet {
    font-size: 56px;
}
.hero-section sup {
  vertical-align: text-bottom;
}


/* RECENT EARNINGS SECTION STYLE */
.recent-earning-section {
    padding: 2rem 0rem;
}
.recent-earning-section .wallet {
    font-size: 17px;
}
.recent-earning-section .meme-card {
    border: 1px solid #a3a3a3;
  border-radius: 6px;
}
.recent-earning-section .preview-img img {
    /* border: 4px solid #fff; */
    width: 100%;
    margin-bottom: .41rem;
}
.recent-earning-section .description-title {
    font-size:20px;
    font-weight: 600;
}
.recent-earning-section .preview-description a {
    font-size: 13px;
    font-weight: 400;
    color: #157fbc;
}


/*  FOOTER SECTION  */
.footer-section .logo-social img {
    width: 4rem;
}
