/*==========Basic Styles==============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #cccccc;
}

main {
    font-family: 'Mulish', sans-serif;
    background-color: #cccccc;
    font-size: 16px;
}

/*========== Previous / Next Styles==============*/

i {
    font-size: 1.5em;
}

.card-header div h4 {
    color: #343a40;
}
.arrow-left div:hover,
.arrow-right div:hover,
.card-header div h4:hover  {
    color: #157fbc;
}

/*========== Card Styles==============*/
.container {
    height: calc(100% - 15px);
}

.card {
    margin-bottom: 50px;
}

#profile img {
    height: 80px;
}

.card-footer i {
    color: #157fbc;
    font-size: 2em;
}

.card-footer i:hover {
    color: #00ffc5;
}