*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    background: #eef3f6;
    font-family: 'Mulish';
}
#contact-container  {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 10% auto;
    
}
#contact-form input, #contact-form textarea {
    background-color: #f6f9fb;
}
