<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" href="stylesheets/Leaderboard.css">

    <title>Savager - Leaderboard</title>
</head>

<body>

    <main>
        <div id="wrapper">
            <div class="container">
                <div class="title">
                    <h2>
                        Savager Leaderboard
                    </h2>
                </div>
                <div class="card">
                    <div class="table-responsive">
                        <table class="header-fixed">
                            <thead>
                                <tr>
                                    <td>Ranking</td>
                                    <td>Username</td>
                                    <td>Likes</td>
                                    <td>Dislikes</td>
                                    <td>Total Points Earned</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1 <i class="fas fa-caret-up" style="color: green; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-1.jpg" alt="avatar-1">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>15,000</p>
                                    </td>
                                    <td>
                                        <p>1,000</p>
                                    </td>
                                    <td>
                                        <p>14,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2 <i class="fas fa-caret-down" style="color: red; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-2.jpg" alt="avatar-2">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>12,000</p>
                                    </td>
                                    <td>
                                        <p>950</p>
                                    </td>
                                    <td>
                                        <p>11,050</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3 <i class="fas fa-caret-up" style="color: green; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-3.jpg" alt="avatar-3">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>10,500</p>
                                    </td>
                                    <td>
                                        <p>1,000</p>
                                    </td>
                                    <td>
                                        <p>9,500</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4 <i class="fas fa-caret-up" style="color: green; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-4.jpg" alt="avatar-4">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>10,500</p>
                                    </td>
                                    <td>
                                        <p>1,100</p>
                                    </td>
                                    <td>
                                        <p>9,400</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5 <i class="fas fa-caret-down" style="color: red; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-5.jpg" alt="avatar-5">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>11,000</p>
                                    </td>
                                    <td>
                                        <p>2,000</p>
                                    </td>
                                    <td>
                                        <p>9,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        6 <i class="fas fa-caret-down" style="color: red; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-6.jpg" alt="avatar-6">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>9,000</p>
                                    </td>
                                    <td>
                                        <p>300</p>
                                    </td>
                                    <td>
                                        <p>8,700</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7 <i class="fas fa-caret-down" style="color: red; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-7.jpg" alt="avatar-7">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>9,000</p>
                                    </td>
                                    <td>
                                        <p>500</p>
                                    </td>
                                    <td>
                                        <p>8,500</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        8 <i class="fas fa-caret-up" style="color: green; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-1.jpg" alt="avatar-8">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>8,200</p>
                                    </td>
                                    <td>
                                        <p>1,000</p>
                                    </td>
                                    <td>
                                        <p>7,200</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        9 <i class="fas fa-caret-up" style="color: green; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-9.jpg" alt="avatar-9">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>8,000</p>
                                    </td>
                                    <td>
                                        <p>1,000</p>
                                    </td>
                                    <td>
                                        <p>7,000</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        10 <i class="fas fa-caret-up" style="color: green; margin-bottom: 0;"></i>
                                    </td>
                                    <td class="username">
                                        <img src="img/avatar-10.jpg" alt="avatar-10">
                                        <p>John Doe</p>
                                    </td>
                                    <td>
                                        <p>8,300</p>
                                    </td>
                                    <td>
                                        <p>1,900</p>
                                    </td>
                                    <td>
                                        <p>6,400</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="view-others">
                        <div class="page-number">
                            <button class="btn"><</button>
                            <button class="btn active">1</button>
                            <button class="btn">2</button>
                            <button class="btn">3</button>
                            <button class="btn">...</button>
                            <button class="btn">19</button>
                            <button class="btn">20</button>
                            <button class="btn">></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="js/Leaderboard.js"></script>
</body>

</html>