<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Savager  - Login</title>
</head>
<body>
    <main>
        <div class="login-container">
            <div class="login-logo">
                <img src="/img/Sharehub.svg" alt="">
            </div>
            <div class="login-content">
                <p class="login-header">Login with Savage</p>
                <div class="login-form">
                    <form action="/users/login" method="POST">
                        <input type="text" class="form-control login-input" name="user_name" placeholder='Username' required>
                        <div class="login-copy">
                            <input type="password" class="form-control login-input" name="password" placeholder='Password' required>
                            <a href="#">Copy</a>
                        </div>
                        <div>
                            <% if(error != null){ %>
                                <p style="color: red;"><%= error %></p>
                            <% } %> 
                        </div>
                        <div class="login-submit mb-4 d-flex justify-content-between">
                            <a href="/signup">Need an account?</a>
                            <button type="submit" class="login-button">Login</button>
                        </div>
                        <div class="login-form-footer py-3">
                            <p class="py-3">or with Social Network</p>
                            <div class="login-form-social">
                                <a href="" class="login-facebook login-social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="" class="login-twitter login-social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="" class="login-google login-social"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="login-footer mb-5">
            <div class="container">
                <p class="text-center">Terms & Conditons . Privacy Policy</p>
            </div>
        </div>
    </footer>
</body>
</html>