<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savage Replies</title>
</head>
<body>
    <h2>View all savage replies</h2>
</body>
</html>