<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Google Font - Mulish -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/9b1c8d52ed.js" crossorigin="anonymous"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/random.css">
    
    <title>Savager | Random</title>
</head>
<body>

    <div class="container">
        <div class="py-5">
            <h1 class="text-center">Savagery Random Memes</h1>
        </div>

        <div class="text-center">
            <p>Find the best memes with just a click!</p>
            <button class = "btn"><i class="fas fa-random"></i></button>
        </div>

        <div class="container py-3">
            
                <div class="card-columns">
                    <div class="card">
                        <!-- Card header-->
                        <div id="profile" class="card-header bg-transparent ml-4 mt-4 border-bottom-0 d-flex">
                            <a href="#profile"><img class="rounded-lg img-fluid" src="/img/brain.png" alt="Profile Image"></a>
                            <div class="ml-5">
                                <a href="#profile">
                                    <h4 class=" font-weight-bold text-dark">AI Butter</h4>
                                </a>
                                <p class="">2 Days Ago</p>
                            </div>
                        </div>
                        <hr>
                      <img class="card-img-top" src="/img/meme.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo quisquam ipsa temporibus eligendi, laudantium culpa.</p>
                      </div>
                      <hr>
                      <!-- Card Footer -->
                      <div class="card-footer border-top-0 bg-transparent">
      
                          <div class="list-group list-group-horizontal justify-content-around">
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-up"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-down"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-bookmark"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-comment"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark "><i class="fas fa-share-alt-square"></i></a>
                          </div>
                      </div>
                    </div>
                    <div class="card p-3">
                         <!-- Card header-->
                         <div id="profile" class="card-header bg-transparent ml-4 mt-4 border-bottom-0 d-flex">
                            <a href="#profile"><img class="rounded-lg img-fluid" src="/img/brain.png" alt="Profile Image"></a>
                            <div class="ml-5">
                                <a href="#profile">
                                    <h4 class=" font-weight-bold text-dark">AI Butter</h4>
                                </a>
                                <p class="">2 Days Ago</p>
                            </div>
                        </div>
                        <hr>
                      <blockquote class="blockquote mb-0 card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">
                          <small class="text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                          </small>
                        </footer>
                      </blockquote>
                      <hr>
                      <!-- Card Footer -->
                      <div class="card-footer border-top-0 bg-transparent">
      
                          <div class="list-group list-group-horizontal justify-content-around">
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-up"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-down"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-bookmark"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-comment"></i></a>
                              <a href="#" class="list-group-item border-0 text-dark "><i class="fas fa-share-alt-square"></i></a>
                          </div>
                      </div>
                    </div>
                    <div class="card">
                         <!-- Card header-->
                         <div id="profile" class="card-header bg-transparent ml-4 mt-4 border-bottom-0 d-flex">
                            <a href="#profile"><img class="rounded-lg img-fluid" src="/img/brain.png" alt="Profile Image"></a>
                            <div class="ml-5">
                                <a href="#profile">
                                    <h4 class=" font-weight-bold text-dark">AI Butter</h4>
                                </a>
                                <p class="">2 Days Ago</p>
                            </div>
                        </div>
                        <hr>
                      <img class="card-img-top" src="/img/meme-to-go-back-to-school.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum odit autem reiciendis.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card bg-primary text-white text-center p-3">
                         <!-- Card header-->
                         <div id="profile" class="card-header bg-transparent ml-4 mt-4 border-bottom-0 d-flex">
                            <h3>This Week's Motiational Quote</h3>
                        </div>
                        <hr>
                      <blockquote class="blockquote mb-0">
                        <p>It’s the job that’s never started that takes longest to finish.</p>
                        <footer class="blockquote-footer text-white">
                          <small>
                            Sam Gamgee <cite title="Source Title">, The Fellowship of the Ring</cite>
                          </small>
                        </footer>
                        <hr>
                        <!-- Card Footer -->
                        <div class="card-footer border-top-0 bg-primary">
        
                            <div class="list-group list-group-horizontal bg-primary justify-content-around">
                                <a href="#" class="list-group-item bg-primary border-0 text-dark"><i class="fas fa-thumbs-up"></i></a>
                                <a href="#" class="list-group-item bg-primary border-0 text-dark"><i class="fas fa-thumbs-down"></i></a>
                                <a href="#" class="list-group-item bg-primary border-0 text-dark"><i class="fas fa-bookmark"></i></a>
                                <a href="#" class="list-group-item bg-primary border-0 text-dark"><i class="fas fa-comment"></i></a>
                                <a href="#" class="list-group-item bg-primary border-0 text-dark "><i class="fas fa-share-alt-square"></i></a>
                            </div>
                        </div>
                      </blockquote>
                    </div>
                    <div class="card text-center">
                         <!-- Card header-->
                         <div id="profile" class="card-header bg-transparent ml-4 mt-4 border-bottom-0 d-flex">
                            <a href="#profile"><img class="rounded-lg img-fluid" src="/img/brain.png" alt="Profile Image"></a>
                            <div class="ml-5">
                                <a href="#profile">
                                    <h4 class=" font-weight-bold text-dark">AI Butter</h4>
                                </a>
                                <p class="">2 Days Ago</p>
                            </div>
                        </div>
                        <hr>
                      <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus recusandae porro odit?</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img" src="/img/lol.png" alt="Card image">
                    </div>
                    <div class="card p-3 ">
                      <blockquote class="blockquote mb-0">
                        <p>To Meme or not Meme, that is the question</p>
                        <footer class="blockquote-footer">
                          <small class="text-muted">
                            Aristotle in <cite title="Source Title">His Time</cite>
                          </small>
                          <hr>
                          <!-- Card Footer -->
                          <div class="card-footer border-top-0 bg-transparent">
          
                              <div class="list-group list-group-horizontal justify-content-around">
                                  <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-up"></i></a>
                                  <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-down"></i></a>
                                  <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-bookmark"></i></a>
                                  <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-comment"></i></a>
                                  <a href="#" class="list-group-item border-0 text-dark "><i class="fas fa-share-alt-square"></i></a>
                              </div>
                          </div>
                        </footer>
                      </blockquote>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <img class="card-img" src="/img/comot.jpg" alt="">
                        <p class="card-text pt-3">The Dentist to your cavities</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <hr>
                        <!-- Card Footer -->
                        <div class="card-footer border-top-0 bg-transparent">
        
                            <div class="list-group list-group-horizontal justify-content-around">
                                <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-up"></i></a>
                                <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-thumbs-down"></i></a>
                                <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-bookmark"></i></a>
                                <a href="#" class="list-group-item border-0 text-dark"><i class="fas fa-comment"></i></a>
                                <a href="#" class="list-group-item border-0 text-dark "><i class="fas fa-share-alt-square"></i></a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
    </div>

    <!-- Bootstrap JS, PopperJS, jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>