<form action="/login" method="POST">

     <p>Park Picture: <input type="text" name = "email" placeholder="Email"></p>

     <p>Park Picture: <input type="text" name = "password" placeholder="Password"></p>

     <a href="/login"><button>Submit</button></a>

</form> password