<form action="/users/signup" method="POST">

        <p>Park Name: <input type="text" name = "first_name" placeholder = "First Name"></p>

        <p>Park Picture: <input type="text" name = "last_name" placeholder="Last Name"></p>

        <p>Park Picture: <input type="text" name = "user_name" placeholder="User Name"></p>

        <p>Park Picture: <input type="text" name = "email" placeholder="Email"></p>

        <p>Park Picture: <input type="text" name = "country" placeholder="Country"></p>

        <p>Park Picture: <input type="text" name = "password" placeholder="Password"></p>

        <button>Submit</button>

    </form> 