<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Page</title>
</head>
<body>
    <form action="/posts/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" id="file" accept=".jpg,.jpeg,.png" />
        <label for="file">Upload</label>
        <button type="submit">submit</button>
    </form>
</body>
</html>