*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    background: #eef3f6;;
}
#contact-container  {
   
    padding: 1rem;
    border-radius: 10px;
    margin: 3% auto;
}
h3  {
    font-size: 2rem;
    line-height: 2.5rem;
}
p   {
    font-size: 1rem;
    line-height: 2rem;
   
}
