*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    font-size: 2rem;
  
  
}

#btn    {
    
  font-weight: bold;
    font-size: 1rem;
}
#rememberme {
    text-align: center;
}
.alert {
    padding: 15px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
  }
 
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  
  .closebtn:hover {
    color: black;
  }
