*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    font-size: 2rem;
  
  
}

#btn    {
    
  font-weight: bold;
    font-size: 1rem;
}
#rememberme {
    text-align: center;
}
