*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
.container-fluid{
    margin-bottom: 30px;
}
h3{
    margin-top: 20px;
}
.card{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    margin-top: 15px;
}
.card-body i{
    color: #ccc;
    padding: 0 12px;
    text-align: center;
}
.card-body i:hover{
    color: #157fbc;
}
.botton, .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botton .btn{
    background-color: #157fbc;
    color:#fff;
    margin-top: 20px;
    box-shadow: 0px 0px 0.569767px rgba(43, 39, 80, 0.04), 0px 2.27907px 4.55814px rgba(43, 39, 80, 0.04), 0px 9.11628px 13.6744px rgba(43, 39, 80, 0.04), 0px 13.6744px 18.2326px rgba(43, 39, 80, 0.04);
}
/* #content{
    transform: translate(-50%, -50%);
} */
@media only screen and (min-width: 600px){
.card-body i{
    padding: 20px;
    font-size: 1.5em;
    margin: -30px 0;
    }
}
@media only screen and (min-width: 768px){
    .card-body i{
        padding: 0 10px;
        font-size: 1em;
    }
}
@media only screen and (min-width: 1024px){
    .card-body i{
        padding: 20px;
        font-size: 1.2em;
        }
}
