/* General styling and Typography */

body{
    font-family: Mulish;
}

td p{
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

html, body{
    overflow-x: hidden;
}


/* ScrollBar Styling */

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #157fbc; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #157fbc; 
}




/* Images */

.username img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: center;
}




/* Components */

#wrapper{
    margin-top: 5%;
}

.title{
    margin-bottom: 5%;
    text-align: center;
}

.card{
    height: 85vh;
    padding: 2%;
    border-radius: 7px;
    box-shadow: 1px 2px 1px #157fbc;
}

.table-responsive{
    border-radius: 7px;
    height: 80%;
    overflow-y: hidden;
}

.header-fixed{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.header-fixed tbody{
  display:block;
  width: 1000px;
  overflow: auto;
  height: 450px;
}

.header-fixed thead tr {
   display: block;
}

.header-fixed td {
  padding: 5px;
  text-align: left;
  width: 200px;
}


table{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

thead tr{
    height: 70px;
}

thead tr td{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
}

tbody tr:nth-child(odd) {
    background-color: #82cffb50;
}

td{
    text-align: center;
}

td{
    min-width: 100px;
}

tr td:nth-child(5) {
    min-width: 200px;
}

td.username{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;
    border-top: none;
    margin: 0 auto;
}

.view-others{
    background-color: #82cffb50;
    border-radius: 7px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: 5%;
    max-width: 317.3px;
}

.page-number{
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 100%;
   border: 1px solid #f2f2f2;
}

.btn{
    background-color: transparent;
    border-radius: 0;
    padding: 4%;
    color: #000;
    align-items: center;
}

.btn.active{
    background-color: #157fbc;
    color: #fff;
}


/* Responsiveness */

@media screen and (max-width: 768px) {
    table{
        overflow-x: scroll;
    }
}
@media screen and (max-width: 360px) {
    /* .view-others{
       overflow-x: scroll;
     } */
    .btn{
       padding: 3%;
     }
}